*{
    padding: 0%;
    margin: 0%;
}
header{
    background-color:#415e9b;
    height: 82px;
    border-bottom: 1px solid #133783;

}

.title-facebook{
    width: 50%;
    float:left;
}
.title-box{
    width: 50%;
    float: left;
}
#h1{
    padding-top: 10px;
    padding-left: 70px;
    color: white;
    size: 1000px;
}
.heading label{
    color:white;
}
.email{
    position: absolute;
    float:right;
    left:800px;
}
.password{
    position: absolute;
    float:right;
    left:1000px;
}
.password  input[type='password']{
    height: 20px;
    width:150px;
    border:1px solid #1d2a5b;
}
.login-button{
    position: absolute;
    float:right;
    left:1200px;
    margin-top: 20px;
}
.login-button input [type='submit']{
    background-color:black; 
    border:1px solid #29487d;
    border-radius: 2px;
    color: white;
    height: 20px;
    width:50px;
}
.heading{
    padding-top: 20px;
}
.email label{
    padding-bottom: 10px;
}
.email input[type='text']{
    
    height: 20px;
    width:150px;
    border:1px solid #1d2a5b;
}
.password label{
    padding-bottom: 10px;
}
.password a{
    padding-bottom: 10px;
    color:rgb(175, 174, 174);
    text-decoration: none;    
}
.facebook-connect img{
    margin-top: 10px;
    width:50%;
    height:60%;
    position: absolute;
    top:150px;
    left:80px;

}
.facebook-connect p{
    position:absolute;
    left:80px;
    color:#0e385f;
    font-size: 22px;
    font-weight: bold;
}
.create-account{
    position: absolute;
    float:right;
    top:100px;
    left:800px;
}
.create-account h2{
    font-size: 40px;
}
.create-account .free{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.first-name,.surname{
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border:1px solid #bdc7d8;
    width:40% !important;
}
.password1,.email1,.mobile{
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border:1px solid #bdc7d8;
    width:84% !important;
}
.account input{
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-left: 0px;
}
.account label{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.account input[type='radio']{
    margin-top: 20px;
    margin-bottom: 20px;
}
.account.by-clicking{
    color:#77777a;
}
.account input[type='submit']{
    padding:15px 22px;
    background: linear-gradient(#95d67c,#65a953);
    border:1px  solid #3b6e22;
    border-radius: 5px;
    font-size: 25px;
    color:#fff;
    margin-top: 15px;
    margin-bottom:15px;
}
body{
    background-color: #BCD2E8;
}